<header class="main-header">
  <nav role="navigation" class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= path === '/' ? 'active' : ''  %>">Shop</a>
      </li>
      <li class="main-header__item">
        <a href="/products"
          class="<%= path === '/products' ? 'active' : ''  %>">
          Products
        </a>
      </li>
      <li class="main-header__item">
        <a href="/cart"
          class="<%= path === '/cart' ? 'active' : ''  %>">
          Cart
        </a>
      </li>
      <li class="main-header__item">
        <a href="/orders"
          class="<%= path === '/orders' ? 'active' : ''  %>">
          Orders
        </a>
      </li>
      <li class="main-header__item">
        <a href="/admin/add-product"
          class="<%= path === '/admin/add-product' ? 'active' : ''  %>">
          Add Product
        </a>
      </li>
      <li class="main-header__item">
        <a href="/admin/products"
          class="<%= path === '/admin/products' ? 'active' : ''  %>">
          Admin Products
        </a>
      </li>
    </ul>
  </nav>
</header>